@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --YELLOW: #f4d04e;
  --GRAY-500: #6b6b6b;
  --GRAY-950: #111;
  --WHITE: #fff;

  /* TYPOGRAPHY */
  --FF: "Figtree", sans-serif;

  /* Desktop */
  --TEXT-PRESET-1: 800 1.5rem/150% var(--FF);
  --TEXT-PRESET-2: 500 1rem/150% var(--FF);
  --TEXT-PRESET-3: 500 0.88rem/150% var(--FF);
  --TEXT-PRESET-3-BOLD: 800 0.88rem/150% var(--FF);

  /* Mobile */
  --TEXT-PRESET-3-BOLD-MOB: 800 0.75rem/150% var(--FF);
  --TEXT-PRESET-3-MOB: 500 0.75rem/150% var(--FF);
  --TEXT-PRESET-2-MOB: 500 00.88rem/150% var(--FF);
  --TEXT-PRESET-1-MOB: 800 1.5rem/150% var(--FF);

  /* SHADOWS */
  --SHADOW: 8px 8px 0px 0px #000;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px; /* 1rem = 16px */
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--YELLOW);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
  color: black;
}

/*  BLOG-CARD*/
.blog-card {
  max-width: 327px;
  min-height: 501px;
  border-radius: 20px;
  box-shadow: var(--SHADOW);
  padding: 1.5rem;
  margin: 9.75rem 1.5rem;
  background-color: var(--WHITE);
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  border: 1px solid var(--GRAY-950);
}

/* BLOG-CARD IMAGE CONTAINER */
.blog-card__image-container {
  width: 279px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.blog-card__image-container img {
  max-width: 336px;
  height: 201px;
  object-fit: cover;
}

/* BLOG-CARD CONTENT */
.blog-card__content {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.blog-card__tag {
  width: 73px;
  height: 26px;
  border-radius: 4px;
  background-color: var(--YELLOW);
  padding: 4px 12px;
  color: var(--GRAY-950);
  font: var(--TEXT-PRESET-3-BOLD-MOB);
}

.blog-card__metadata {
  font: var(--TEXT-PRESET-3-MOB);
  color: var(--GRAY-950);
}

.blog-card__title {
  font: var(--TEXT-PRESET-1-MOB);
  color: var(--GRAY-950);
}

.blog-card__description {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--GRAY-500);
}

/* || BLOG-CARD-AUTHOR */
.blog-card__author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog-card__author-avatar {
  width: 32px;
  height: 32px;
}

.blog-card__author-avatar img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__author-name {
  font: var(--TEXT-PRESET-3-BOLD);
  color: var(--GRAY-950);
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* || BLOG-CARD */
  .blog-card {
    max-width: 384px;
    min-height: 522px;
    margin: 13.69rem 33rem;
  }

  /* || BLOG-CARD-IMAGE-CONTAINER */
  .blog-card__image-container {
    width: 336px;
  }
  /* || BLOG-CARD-CONTENT */
  .blog-card__tag {
    width: 82px;
    height: 29px;
    font: var(--TEXT-PRESET-3-BOLD);
  }

  .blog-card__metadata {
    font: var(--TEXT-PRESET-3);
  }

  .blog-card__title {
    font: var(--TEXT-PRESET-1);
  }

  .blog-card__description {
    font: var(--TEXT-PRESET-2);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .blog-card__title:hover,
  .blog-card__title:focus-visible {
    color: var(--YELLOW);
  }
}
